//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_del {
            bindings = <&kp DEL>;
            key-positions = <32 37>;
        };

        combo_screenshot {
            bindings = <&kp LG(LS(N4))>;
            key-positions = <9 8>;
        };

        combo_numlock {
            bindings = <&tog 1>;
            key-positions = <31 26>;
        };

        combo_capsword {
            bindings = <&caps_word>;
            key-positions = <10 19>;
            layers = <0>;
        };

        combo_comma {
            bindings = <&kp COMMA>;
            key-positions = <28 29>;
            layers = <1>;
        };

        combo_dot {
            bindings = <&kp DOT>;
            key-positions = <30 29>;
            layers = <1>;
        };

        combo_multiply {
            bindings = <&kp KP_ASTERISK>;
            key-positions = <18 19>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     ;     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
           &kp Q             &kp W               &kp F                               &kp P           &kp B      &kp J    &kp L            &kp U                               &kp Y                &kp SEMI
           &mt LEFT_SHIFT A  &mt LEFT_CONTROL R  &mt LEFT_ALT S                      &mt LEFT_GUI T  &kp G      &kp M    &mt RIGHT_GUI N  &mt RIGHT_ALT E                     &mt RIGHT_CONTROL I  &mt RIGHT_SHIFT O
&lt 3 TAB  &kp Z             &kp X               &kp C                               &kp D           &kp V      &kp K    &kp H            &kp COMMA                           &kp DOT              &kp FSLH           &kp SQT
                                                 &mt LS(LA(LC(LEFT_GUI))) BACKSPACE  &lt 1 SPACE     &kp ESC    &kp RET  &lt 2 SPACE      &mt LS(LA(LEFT_CONTROL)) BACKSPACE
            >;
        };

        num_sym_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &kp GRAVE               &kp BACKSLASH                           &kp NUMBER_7  &kp N8        &kp NUMBER_9  &kp MINUS
        &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS    &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS
&trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACKET        &kp RIGHT_BRACKET                       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH  &kp EQUAL
                        &trans  &trans  &trans                  &trans                                  &kp NUMBER_0  &trans
            >;
        };

        nav_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp LC(LS(TAB))  &kp UP     &kp LC(TAB)   &kp LG(LS(NUMBER_4))
        &trans  &trans  &trans  &trans  &trans    &kp END   &kp LEFT         &kp DOWN   &kp RIGHT     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp PG_DN        &kp PG_UP  &kp LG(LEFT)  &kp LG(RIGHT)         &kp LG(GRAVE)
                        &trans  &trans  &trans    &trans    &trans           &trans
            >;
        };

        sys_layer {
            bindings = <
        &bt BT_CLR  &sys_reset    &out OUT_TOG  &kp C_VOLUME_UP   &kp C_BRIGHTNESS_INC    &trans  &kp F7  &kp F8  &kp F9  &kp F12
        &bt BT_NXT  &kp C_REWIND  &kp C_NEXT    &kp C_PLAY_PAUSE  &kp C_MUTE              &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &bt BT_PRV  &trans        &trans        &kp C_VOL_DN      &kp C_BRIGHTNESS_DEC    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                  &trans        &trans            &trans                  &trans  &trans  &trans
            >;
        };
    };
};
